#data-sheet {
    position: absolute;
    top: 0;
    right: -70vw;
    width: 50vw;
    height: 100vh;
    box-shadow: 0 0 5px blue;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 2rem;
    font-size: 2rem;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
  }
  .btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
  }
  .btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
  }

#data-sheet.show {
    animation: fromRight 0.5s ease-out forwards;
}

@keyframes fromRight {
    from {
        right: -70vw;
    }

    to {
        right: 0;
    }
}